# Byte compiled
__pycache__/
*.py[cod]

# Rdis snapshot
dump.rdb

# Coverage.py
.coverage
.coverage.*
.coveragerc
htmlcov/

# Packaging
build/
dist/
redisrwlock.egg-info/

# Preview of README.rst
README.html
